body {
    background-image: url("https://raw.githubusercontent.com/gautiersc/gautiersc.github.io/master/Assets/Background/background.gif");
    background-size:cover;
    color: #ffffff;
}

#title {
    position: absolute;
    top: 44%; left: 48%;
    transform: translate(-50%, -50%);
	padding: 0; margin: 0;
    text-align: center;
	display: inline-block;
	margin: 0 11px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #ffffff;
    padding-bottom: 3px;
    text-decoration: none;
}

#nav {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
	padding: 0; margin: 0;
    text-align: center;
}

#nav li {
	display: inline;
	list-style: none;
}

#nav a {
	display: inline-block;
	margin: 0 11px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding-bottom: 3px;
    text-decoration: none;
}

#nav a:hover {
    animation: animationRotate 1.5s;
    font-size: 21px;
}

@keyframes animationRotate {
    100% {
        transform: rotate(360deg);
    }
#copy {
    position: absolute;
    top: 100%; left: 0%;
    transform: translate(-50%, -50%);
	padding: 0; margin: 0;
    text-align: center;
	display: inline-block;
	margin: 0 11px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #ffffff
}
#copy p {
	display: inline-block;
	margin: 0 11px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #ffffff;
  }
}
