body {
    background-color: #2c2f33;
    color: #ffffff;
}

#nav {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
	padding: 0; margin: 0;
    text-align: center;
}

#nav li {
	display: inline;
	list-style: none;
}

#nav a {
	display: inline-block;
	margin: 0 11px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding-bottom: 3px;
    text-decoration: none;
}

#nav a:hover {
    color: #99aab5;
    backface-visibility: hidden;
    animation: animationRotate 1.5s;
}

@keyframes animationRotate {
    100% {
        transform: rotate(360deg);
    }
}
